*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.section{
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 32px;
    margin: 0px 32px;
    width: 70%;
    flex-direction: column;
}

.taketime{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 32px;
    margin: 0px 32px;
    width: 70%;
}

.iptime{
    margin: 12px 12px;
    padding: 12px 12px;
    border-radius: 12px;
    outline: none;
    width: 5%;
    text-align: center;
    font-size: 20px;
}

.showtime{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 32px;
    margin: 0px 32px;
    width: 70%;
    flex-direction: column;
}

.sotime{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    margin: 30px 30px;
    background-color: #ca003b;
    border-radius: 12px;
}

#start{
    padding: 7px 25px;
    font-size: 20px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #ca003b;
    cursor: pointer;
}

h2{
    background-color: white;
    margin: 10px 25px;
    padding: 20px 25px;
    font-size: 30px;
    border-radius: 12px;
}

h4{
    font-size: 32px;
    display: block;
}

h1, h3 {
    text-align: center;
    color: white;
}

@media screen and (max-width:450px) {
    h1 {
        font-size: 20px;
    }
    
    h4{
        font-size: 20px; 
    }
    
    h2 {
        margin: 10px 11px;
        font-size: 20px;
        width: 20%;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h3 {
        font-size: 16px;   
    }
    
    .sotime {
        width: 85%;
    }
    
    .iptime {
        margin: 12px 10px;
        padding: 10px 10px;
        width: 15px;
        height: 10px;
        font-size: 12px;
    }
}